<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @question.numero %>
</p>

<p>
  <strong>Pergunta:</strong>
  <%= @question.pergunta %>
</p>

<p>
  <strong>List:</strong>
  <%= @question.list.nome %>
</p>
<hr>
<%= form_for(@answer) do |f| %>

    <%= f.text_area :texto %>

    <%= f.hidden_field :question_id, :value => @question.id %>

    <%= f.submit %>
<% end %>