<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Lista <%= @list.id %></h1>

<p style="text-align: center">
<%= link_to "Criar Pergunta", new_question_path, class: "btn btn-default btn-lg" %>
</p>
<table class="table table-responsive table-bordered">
  <thead>
  <tr>
    <th>Numero</th>
    <th>Pergunta</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @perguntas.each do |pergunta| %>
      <tr>
        <td><%= pergunta.numero %></td>
        <td><%= pergunta.pergunta %></td>
        <td><%= link_to 'Editar Pergunta', edit_question_path(pergunta), class: "btn btn-info btn-sm" %></td>
        <td>
          <%#= link_to 'PROVA!', '/', remote: true, class: "btn btn-primary btn-sm" %>
          <%#= link_to 'PROVA!', '/marcar/'+pergunta.id.to_s, {remote: true, class: "btn btn-primary btn-sm"} %>

          <% if pergunta.prova %>
              <%= link_to 'TIRAR!', '/desmarcar/'+pergunta.id.to_s, {remote: true, class: "btn btn-warning btn-sm"} %>
          <% else %>
              <%= link_to 'COLOCAR!', '/marcar/'+pergunta.id.to_s, {remote: true, class: "btn btn-primary btn-sm"} %>
          <% end %>



          <%#= link_to 'Destroy', pergunta, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>

      </tr>


            <% pergunta.answers.each do |resposta| %>
              <tr>
                <td><b>Resposta:</b></td>
                  <td colspan="3">
                    <%= resposta.texto%>
                    <br>
                    <%= debug resposta%>
                        <% if resposta.imagem != '' %>
                        0909090909090
                            <img src="<%= resposta.imagem %>"/>
                        <% end %>
                    </td>
              </tr>
            <% end %>


        <tr>
          <td colspan="4">
              <%= form_for(@answer) do |f| %>

                  <%= f.text_area :texto, style: "width: 70%;" %><br>
                  <b>Caminho da imagem</b>: <%= f.text_field :imagem, placeholder: "http://se.tiver/imagem.png"%>
                  <%= f.hidden_field :question_id, :value => pergunta.id %>
                  <br>
                  <%= f.submit "Reponder", class: "btn btn-success btn-sm"%>
              <% end %>
          </td>
        </tr>
  <tr><td colspan="4" style="background-color: #00394d"></td></tr>

  <% end %>
  </tbody>
</table>
