<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/"></a>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Lista1', '/lists/1' %></li>
        <li><%= link_to 'Lista2', '/lists/2' %></li>
        <li><%= link_to 'Lista3', '/lists/3' %></li>
        <li><%= link_to 'Lista4', '/lists/4' %></li>
        <li><%= link_to 'Lista5', '/lists/5' %></li>
        <li><%= link_to 'Lista6', '/lists/6' %></li>
        <li><%= link_to 'PROVA', '/prova' %></li>
      </ul>

    </div>
  </div>
</nav>